.prabesh{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(banner.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}
.container{
    height: 70vh;
    width: 30%;
    background: rgba(0.5,0,0,0.6);
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 0 20px;
}
.img{
    height: 70px;
width: 70px;
background: url("photom.jpeg")no-repeat;
background-size: cover;
background-position: center;
border-radius: 60px;
position: absolute;
top: 0%;
left: 50%;
transform: translate(-50%,-50%);
}
.container h1{
color: white;
}
.container p{
    color: white;
    margin-top: 60px;
    font-size: large;
}
.btn{
    background: no-repeat;
    outline: none;
    border: 1px solid white;
    color: orange;
    width: 50%;
    padding: 7px 15px;
    font-size: large;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 20px;
    transform: translate(51px, 10px);
}
.btn:hover{
    background: white;
color: black;
}
        @media only screen and (max-width: 1140px){
            
           .btn{
               margin-top: 0px;
           }
           .container{
            height: 80vh;
            width: 85%;
           }
           .btn{
            transform: translate(51px, 10px);
        }
           }
           